<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Ремонты</title>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Ремонты</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('lst') }}">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('add') }}">Добавить заявку</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сортировка</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkSort">
                    <a class="dropdown-item" href="#">По судам</a>
                    <a class="dropdown-item" href="#">По вариантам ремонта</a>
                    <a class="dropdown-item" href="#">По местонахождению ПТС</a>
                    <a class="dropdown-item" href="#">Зарезервировано</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkReport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Отчеты:
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkReport">
                    <a class="dropdown-item" href="{{ url_for('reportbyservice') }}">Отчет общий</a>
                    <a class="dropdown-item" href="{{ url_for('reportservice') }}">Отчет по ремонтам в СЦ</a>
                    <a class="dropdown-item" href="{{ url_for('report_akt_priemki') }}">Отчет по актам приемки в СЦ</a>
                    <a class="dropdown-item" href="{{ url_for('rep_type_of_repair_not_defined') }}">Вариант ремонта не определен</a>
                    <a class="dropdown-item" href="#">Гарантийные ремонты</a>
                    <a class="dropdown-item" href="#">Списание</a>
                </div>
            </li>
            </ul>
        </div>
      <form method="post" class="form-inline">
        <input name="seek" class="form-control mr-sm-2" type="search" placeholder="Заявка или инв №" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
      </form>
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
