{% extends "base.html" %}
{% block content %}
    {% for l in list %}
        <div class="pts">
            <a id="ticket" href="{{ url_for('edit', local = l.localticket) }}">{{ l.localticket }}</a>
            <div id="court">{{ l.lowcourtname }}</div>
            <div id="name">{{ l.name }}</div>
            <div id="inv">{{ l.inventnumder }}</div>
            <div id="serial">{{ l.serialnumber }}</div>
            <div id="rem">{{ l.remark }}</div>
        </div>
    {% endfor %}
    </table>
{% endblock %}