{% extends "base.html" %}
{% block content %}
    <table>
        <tr><th>Наименование</th><th>Инвентарный №</th><th>Серийный №</th><th>Номер заявки в СЦ</th><th>Номер акта ТС</th><th>Сумма по акту</th><th>CO-7</th><th>CO-8</th></tr>
        {% for list in result %}
            <tr><td>{{ list.name }} </td>
                <td>{{ list.inventnumder }} </td>
                <td>{{ list.serialnumber }} </td>
                <td>{{ list.serviceticket }} </td>
                <td>{{ list.serviceakt }} </td>
                <td>{{ list.serviceprice }} </td>
                <td>{{ list.aktco7modename }} </td>
                <td>{{ list.aktco8modename }} </td>
            </tr>
        {% endfor %}
    </table>
    {% for foo in resultsum %}
        Итого по заявке № {{ foo.serviceticket }} - {{ foo.summa }} рублей. <br>
    {% endfor %}
    Итого по всем заявкам - {{ resultsumall }} рублей.

{% endblock %}