        Акт СО-7:<select name="aktco7mode">
            {% for mode in listmode %}
                {% if mode.val == ticket.aktco7mode  %}
                    <option value="{{ mode.val }}" selected>{{ mode.name }}</option>
                {% else %}
                    <option value="{{ mode.val }}">{{ mode.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="date" name="aktco7date" value="{{ticket.aktco7date }}">

        Акт СО-4.1:<select name="aktco41mode">
            {% for mode in listmode %}
                {% if mode.val == ticket.aktco41mode  %}
                    <option value="{{ mode.val }}" selected>{{ mode.name }}</option>
                {% else %}
                    <option value="{{ mode.val }}">{{ mode.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>

        Акт СО-8:<select name="aktco8mode">
            {% for mode in listmode %}
                 {% if mode.val == ticket.aktco8mode  %}
                    <option value="{{ mode.val }}" selected>{{ mode.name }}</option>
                {% else %}
                    <option value="{{ mode.val }}">{{ mode.name }}</option>
                {% endif %}

            {% endfor %}
        </select>
        <input type="date" name="aktco8date" value="{{ticket.aktco8date }}">

        Акт СО-4.2:<select name="aktco42mode">
            {% for mode in listmode %}
                {% if mode.val == ticket.aktco42mode  %}
                    <option value="{{ mode.val }}" selected>{{ mode.name }}</option>
                {% else %}
                    <option value="{{ mode.val }}">{{ mode.name }}</option>
                {% endif %}

            {% endfor %}
        </select>
         <br>
         Суд:<select name="lowcourtcode">
            {% for low in listlow %}
                {% if low.val == ticket.lowcourtcode %}
                    <option value="{{ low.val }}" selected>{{ low.name }}</option>
                {% else %}
                    <option value="{{ low.val }}">{{ low.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
         Варианты ремонта:<select name="serviceprovider">
            {% for prov in listprovider %}
                {% if prov.val == ticket.serviceprovider  %}
                    <option value="{{ prov.val }}" selected>{{ prov.name }}</option>
                {% else %}
                    <option value="{{ prov.val }}">{{ prov.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
         Местонахождение ПТС:<select name="location">
            {% for loc in listlocation %}
                {% if loc.val == ticket.location %}
                    <option value="{{ loc.val }}" selected>{{ loc.name }}</option>
                {% else %}
                    <option value="{{ loc.val }}">{{ loc.name }}</option>
                {% endif %}
            {% endfor %}
        </select>

    <a href="{{ url_for('list') }}">Главная</a>
    <a href="{{ url_for('add') }}">Добавить заявку</a>
    <a href="{{ url_for('seek') }}">Искать по инв №</a><p>
